@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Yomogi&family=Zen+Tokyo+Zoo&display=swap');

body {
    background-color: red;
}

header{
    font-size: 36px;
}

/*positioning a single image through CSS*/
#headerOverlay {
    background-image: url(../Images/logo.jpg);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 3% center; /*horizontal vertical*/
    padding: 2em;
}

header h1, header p {
    margin: 7px 0 7px 150px;
    /*This clears the text of the bg area*/
}

h1 {
    background-color: red;
    background-size: 100% 100%;
    color: gold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}



h2 {
    color: white;
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

p {
    background-color: black;
    color: yellow;
    font-size: 20px;
    font-family: 'Yomogi' cursive;
    font-style: italic;
}

/*Site nav*/
a {
    color: gold;
    font-weight: bold;
    text-decoration: none;
}

    a:hover, a:active, a:focus {
        color: lightcoral;
        text-decoration: underline;
        background-color: mintcream;
    }

nav a {
    color: white;
}

    nav a:hover, a:active, a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: maroon;
}

nav li:hover {
    background-color: yellowgreen;
}

nav li {
    display: inline-block;
}

nav ul li a {
    padding: .4em;
    display: block;
}

/*nav page highlighting*/
.selected {
    background-color: darkred
}

/*Create a gallery layout for images.html*/
div.galleryItem {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block; /*This is the line of code that allows the divs to line up next to each other*/
    width: 350px;
}

    div.galleryItem:hover {
        border: 1px solid yellow;
    }

    div.galleryItem img {
        width: 100%;
        height: auto;
    }

    div.galleryItem a:hover {
        background-color: gold;
    }

#imageGallery {
    margin: 0 auto; /*very helpful for centering content inside of an element*/
    width: 85%;
    text-align: center; /*centers the content inside of the element with the id of imageGallery*/
}

.mainWrapper {
    padding: 1%;
}

footer {
    padding: 3%;
}

nav ul {
    margin: 0;
}

aside h2 {
    padding: 2%;
}
/*#endregion*/

/*#region Float & Clear*/
/*
    Float and Clear Notes

    Floating an element in HTML is when you move it to the left or right of its parenting container.

    Floating an element can cause the parenting container to collaps because the element is no longer contributing to its height.

    You can use clears to force parenting containers to maintain their height and to ensure that content from below does NOT flow up beside the floated element. (Clear is the line in the sand)

    Clears only clear the container they are placed in.
*/

#html, #js {
    float: right;
    height: 75px;
    margin-left: 20px;
}

#css {
    float: left;
    height: 75px;
    margin-right: 20px;
}

#frontendDev section {
    width: 85%;
    margin: 0 auto;
}

    #frontendDev section h3 {
        margin: 10px 75px;
    }

    #frontendDev section p {
        margin: 0 75px;
    }

/*For index.html - 2 column layout where 1 column is floated*/
#leftColumn {
    width: 73%;
    border-right: 1px dashed teal;
}

#rightColumn {
    width: 25%;
    float: right;
}

aside h2 {
    margin-top: 0;
}

/*For Team.html - 2 column layout with 1 column floated and margin to clear the space for the content*/
#teamLeftColumn {
    margin-right: 25%;
    border-right: 1px dashed teal;
}

#teamRightColumn {
    width: 25%;
    float: right;
}

/*For Contact.html - 2 column layout with both columns floated - because both columns are floated we do NOT want the parent element to collapse so we have add in a clear (line in the sand) */
#contactLeftColumn {
    width: 75%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
    /*Changes the way width and height are figured. With border-box, you are saying that 73% width includes not only content, but also padding and border*/
}

#contactRightColumn {
    width: 25%;
    float: right;
}

/*For Classes.html - 2 column layout with 1 column floated and margin to clear the space for the content*/
#classesLeftColumn {
    margin-right: 25%;
    border-right: 1px dashed teal;
}

#classesRightColumn {
    width: 25%;
    float: right;
}

.clear {
    clear: both;
}

/*#endregion*/